*.lnk
WikiClient-*.jar
temp.html
md.html
logs/
user/
.git/
.gradle/
.settings/
build/
backup/
gradle/
gradlew*
*.exe
.classpath
.project
*.groovy
.class
.externalToolBuilders/
*.db
*.bin
script.py
public/resources/NameMaker/*xml